<div class="container">
<div class="row">
	<div class="col-xs-3">

    <p id="notice"><%= notice %></p>
    <h2>User info</h2>
    <%= render 'users/profile', user: current_user %>
    <!--メモ　右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->

    <h2>New book</h2>
    <%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>
       <table>
        <% if @user.id==current_user.id %>
        <tr>
              <td  class="col-md-2"><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", style: "width: 50px; height: 50px;"  %><%= link_to @user.name,user_path(@user) %></td>
              <td  class="col-md-3"><%= @book_id.title %></td>
              <td  class="col-md-5"><%= @book_id.body %></td>
              <td  class="col-md-1"><%= link_to "Edit",edit_book_path,class: "btn btn-success btn-sm" %></td>
              <td  class="col-md-1"><%= link_to "Destroy",book_path,method: :delete,data: {confirm: "本当に消しますか？"},class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
            <% else %>
            <tr>
              <td  class="col-md-6"><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", style: "width: 50px; height: 50px;"  %><%= link_to @user.name,user_path(@user) %></td>
              <td class="col-md-5"><%= @book_id.title %></td>
              <td class="col-md-1"><%= @book_id.body %></td>
            </tr>
            <% end %>
      </table>
</div>
</div>

